# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Project Specific
session_report_*.png
aggregate_report_*.png
face_*_report_*.png

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
